<!-- MyDialog.vue -->
<template>
    <Dialog :visible="isVisible" modal @update:visible="onDialogHide" style="background-color: aliceblue;"     
        :pt="{
            mask: {
                style: 'backdrop-filter: blur(2px)'
            }
        }"
    >
        <template #header>
            <div class="inline-flex align-items-center justify-content-center gap-2">
                <h2 class="font-bold white-space-nowrap">Arrêts {{data[0].stop}}</h2>
            </div>
        </template>
            <h4 class="m-0">
                Liste des lignes desservant l'arrêt {{data[0].stop}}
            </h4>
            <DataTable :value="data" tableStyle="min-width: 50rem">
                <Column field="type" header="Type de ligne" bodyStyle="text-align:center"/>
                <Column field="num" header="Numéro de la ligne" bodyStyle="text-align:center"/>
                <Column field="name" header="Nom de la ligne"/>
                <Column field="direction" header="Direction de la ligne"/>
                <Column field="accessibility" header="Accès handicapés" bodyStyle="text-align:center"/>
                <Column header="Horaire" bodyStyle="text-align:center">
                    <template #body="slotProps">
                        <img src="../../public/assets/icons/calendar.svg" class="w-6rem shadow-2 border-round" />
                    </template>
                </Column>
            </DataTable>
        <template #footer>
        </template>
    </Dialog>
  </template>
  
  <script>
  export default {
    data() {
        return {
            columns: [
                { field: 'type', header: 'Type de ligne' },
                { field: 'num', header: 'Numéro de la ligne' },
                { field: 'name', header: 'Nom de la ligne' },
                { field: 'accessibility', header: 'Accès handicapés' },
            ],
        };
    },
    props: {
      isVisible: Boolean,
      data: Array, 
    },
    methods: {
      onDialogHide() {
        this.$emit('close-dialog'); 
      },
    },
  };
  </script>
  