<template>
  <div>
    <div id="map"></div>

    <div v-if="isLoading" id="loading-overlay">
      <div id="loading-spinner"></div>
    </div>

    <div v-if="isMarkersAndShapesLoading" id="loading-overlay">
      <div id="loading-spinner"></div>
    </div>

    <stopDetailDialog :visible="dialogVisible" :data="dialogData" @close-dialog="closeDialog" />

    <div class="filter-modal">
      <div class="filter-div">
        <p class="filter-text">Filtrer les arrêts : </p>
        <SelectButton class="filter-select" v-model="filterValue" :options="filterOption" optionLabel="name" multiple aria-labelledby="multiple" v-on:change="filterStops"/>
      </div>
    </div>
  </div>
</template>

<script>
// Import vue
import { ref, onMounted } from 'vue';

// Import leaflet
import L from 'leaflet';
import 'leaflet/dist/leaflet.css';
import 'leaflet.markercluster';

// Import custom
import { getAllStops, getStopDetailsByName, getAllShapes } from './services/api';
import stopDetailDialog from './components/stopDetailDialog.vue';

export default {
  setup() {
    // ==================== VARIABLE ====================
    const isLoading = ref(true);
    const isMarkersAndShapesLoading = ref(false);


    const dialogVisible = ref(false);
    const dialogData = ref([]);

    const filterOption = ref([
      { name: 'Bus', value: 1 },
      { name: 'Tram', value: 2 },
    ]);
    const filterValue = ref(filterOption.value);
    
    // Map variable
    var map = null;
    var markers = null;
    var shapes = [];
    const stopsData = ref([]);
    const shapesData = ref([]);
    // Create bus icon
    const busIcon = L.icon({
      iconUrl: '../public/assets/icons/bus.svg',
      iconSize: [38, 95],
    })
    // Create tram icon
    const tramIcon = L.icon({
      iconUrl: '../public/assets/icons/tram.svg',
      iconSize: [38, 95],
    })


    // ==================== FUNCTION ====================

    const openDialog = async (e) => {
      var stop = stopsData.value.find((obj) => obj[2] == e.latlng.lat && obj[3] == e.latlng.lng)
      stop[1] = stop[1].replace(/ /g, "_");
      stop[5] = stop[5].replace(/ /g, "_");

      const data = await getStopDetailsByName(stop[1], stop[5], stop[4]);

      var structuredData = [];

      data.forEach(function(item) {
          var objetJSON = {
              type: item[1] === 3 ? 'Bus' : 'Tram',
              stop: item[0],
              accessibility: 'Porte ' + item[2],
              num: item[3],
              name: item[4],
              direction: item[5],
              lat: stop[3],
              lon: stop[4]
          };

          structuredData.push(objetJSON);
      });

      dialogData.value = structuredData;
      dialogVisible.value = true;
    };

    const closeDialog = () => {
      dialogData.value = [];
      dialogVisible.value = false;
    };

    const filterStops = () => {
      // Load enabled
      isMarkersAndShapesLoading.value = true; 
      // Create marker and route
      setTimeout(() => {createMarkersAndShapes()}, 10)
    };

    const createMarkersAndShapes = () => {
        // Clear markers
        markers.clearLayers();

        // For each stops, create marker set in markers to create group
        stopsData.value.forEach(stop => {
          if(filterValue.value.length === 2) {
            const marker = L.marker([stop[2], stop[3]], {icon: stop[4]=="3" ? busIcon : tramIcon}).on('click', openDialog);
            markers.addLayer(marker);
          } 
          if(filterValue.value[0] == filterOption.value[0] && filterValue.value.length === 1 && stop[4]=="3") {
            const marker = L.marker([stop[2], stop[3]], {icon: busIcon}).on('click', openDialog);
            markers.addLayer(marker);
          } 
          if(filterValue.value[0] == filterOption.value[1] && filterValue.value.length === 1 && stop[4]=="0") {
            const marker = L.marker([stop[2], stop[3]], {icon: tramIcon}).on('click', openDialog);
            markers.addLayer(marker);
          } 
        });

        // Add markers to map
        map.addLayer(markers); 


        // Clear shapes
        shapes.forEach((shape) => {
          map.removeLayer(shape);
        })

        // Create road between stops
        shapesData.value.forEach(shape => {
          if(filterValue.value.length === 2) {
            var polyline = L.polyline(shape[1], { color: shape[2] }).addTo(map);
            shapes.push(polyline)
          } 
          if(filterValue.value[0] == filterOption.value[0] && filterValue.value.length === 1 && shape[3]=="3") {
            var polyline = L.polyline(shape[1], { color: shape[2] }).addTo(map);
            shapes.push(polyline)
          } 
          if(filterValue.value[0] == filterOption.value[1] && filterValue.value.length === 1 && shape[3]=="0") {
            var polyline = L.polyline(shape[1], { color: shape[2] }).addTo(map);
            shapes.push(polyline)
          } 
        });


        // Load finished
        isLoading.value = false; 
        isMarkersAndShapesLoading.value = false;
    };

    // This function is launch after DOM initialization (needed for map)
    onMounted(async () => {
      try {
        // Collect list of stops
        stopsData.value = await getAllStops(); 
        // Collect list of route
        shapesData.value = await getAllShapes(); 

        // Create map with position and zoom level (14)
        map = L.map('map').setView([47.216671, -1.55], 14); 
        // Create tiles with source and option (max level zoom and min level zoom)
        L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', { maxZoom: 19, minZoom: 14 }).addTo(map); 

        // Group stops for better performance
        markers = L.markerClusterGroup({
          spiderfyOnMaxZoom:true, // Disabled for disableClusteringAtZoom
          disableClusteringAtZoom:17, // Disable cluster depending zoom level
        }); 

        // Create markers and route
        createMarkersAndShapes(); 

      } catch (error) {
        console.error(error);
      }
    });

    return {
      // Loading
      isLoading,
      isMarkersAndShapesLoading,

      // Stop details modal
      dialogVisible,
      dialogData,
      openDialog,
      closeDialog,

      // Filter (bus, tram)
      filterValue,
      filterOption,
      filterStops,
    };
  },
  components: {
    // Stop details modal component
    stopDetailDialog, 
  },
};
</script>



<style>
 body {
      margin: 0;
  }

  #map {
      width: 100%;
      height: 100%;
      position: absolute;
  }

  /* Style for loading overlay */
  #loading-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
  }

  /* Style for loading overlay */
  #loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  #loading-spinner {
      border: 6px solid #f3f3f3;
      border-top: 6px solid #3498db;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

  .filter-modal {
    position: absolute;
    background: white;
    bottom: 15px;
    left: 15px;
    z-index: 999;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .filter-div {
    padding: 0 25px 0 25px;
    display:flex;
  }

  .filter-text {
    padding-right: 10px;
  }

  .filter-select {
    padding-top:3px;
  }
</style>
